.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: snow;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: clamp(20px, 4vw, 24px);
  letter-spacing: normal;
}
